.vscode

backend/.vscode
backend/Kutian.API/bin
backend/Kutian.API/obj
backend/Kutian.API/Logs
backend/Kutian.API/Properties
backend/Kutian.API/appsettings.Development.json
backend/Kutian.API/appsettings.json
backend/Kutian.API/dump.rdb
backend/Kutian.Application/bin
backend/Kutian.Application/obj
backend/Kutian.Infrastructure/bin
backend/Kutian.Infrastructure/obj
backend/Kutian.Utilities/Migrations
backend/Kutian.Domain/obj
backend/Kutian.Domain/bin
backend/Kutian.Tests/obj
backend/Kutian.Tests/bin
backend/Kutian.Utilities/obj
backend/Kutian.Utilities/bin
backend/.DS_Store
backend/Makefile

frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/coverage
frontend/build
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/ssl
frontend/.eslintrc
frontend/.eslintignore
frontend/.prettierrc
frontend/.editorconfig
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*%