.vscode

backend/.vscode
backend/Kutian.API/bin
backend/Kutian.API/obj
backend/Kutian.API/Logs
backend/Kutian.API/Properties
backend/Kutian.API/appsettings.Development.json
backend/Kutian.API/appsettings.json
backend/Kutian.API/dump.rdb
backend/Kutian.Application/bin
backend/Kutian.Application/obj
backend/Kutian.Infrastructure/bin
backend/Kutian.Infrastructure/obj
backend/Kutian.Infrastructure/Migrations
backend/Kutian.Domain/obj
backend/Kutian.Domain/bin
backend/Kutian.UnitTests/obj
backend/Kutian.UnitTests/bin
backend/Kutian.IntegrationTests/obj
backend/Kutian.IntegrationTests/bin
backend/Kutian.Utilities/obj
backend/Kutian.Utilities/bin
backend/.DS_Store
backend/Makefile